<!-- Va en el Inicio y se da click lleva a mostrar la informacion (navbar inicio)-->







<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-5 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(https://i.pinimg.com/originals/73/c2/84/73c284b96ffb2460fac4507528f1f32f.jpg);">
                </div>
            </div>
            <div class="col-md-7 pl-md-5 py-md-5">
                <div class="heading-section pt-md-5">
            <h2 class="mb-4">¿Por qué escogernos?</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-thin fa-head-side-heart"></i></div>
                    
                        <div class="text pl-3">
                            <h4>Lo que hacemos</h4>
                            <p>Los animales que llegan a la fundación reciben atención veterinaria completa,
                               incluyendo esterilización, vacunación, desparacitación y cualquier tratamiento
                               necesario para garantizar su bienestar hasta que logremos encontrarles un hogar
                               que los cuide de por vida..</p>
                               
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-thin fa-child-reaching"></i></div>
                        <div class="text pl-3">
                            <h4>Lo que queremos</h4>
                            <p>Promover la sensibilización colectiva fomentando la esterilización, el respeto 
                                a la vida, el NO al maltrato animal y la adopción responsable y soñamos con 
                                convertirnos en una organización líder en la protección y preservación de los
                                animales que son víctimas del maltrato y la indiferencia.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-thin fa-face-smiling-hands"></i></div>
                        <div class="text pl-3">
                            <h4>Apoyo de clientes</h4>
                            <p>Queremos cada día poder ayudar a más y más peludos, es por eso que creamos los 
                               Hogares Tepa. Si puedes abrirle un espacio en tu hogar de forma temporal a uno
                               de nuestros peludos, te invitamos a inscribirte.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-solid fa-hands-holding-heart"></i></div>
                        <div class="text pl-3">
                            <h4>Ayúdanos</h4>
                            <p>Si no puedes adoptar, puedes apadrinar alguno de nuestros peludos para que su estadía
                                en nuestro refugio sea optima. Manejamos diferentes planes de padrinos en los que 
                                puedes hacer un aporte mensual. Si estás interesado en apadrinar un Tepiano contáctanos
                                y te daremos más detalles.</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>