<!-- Inicio empieza -->
<div class="hero-wrap js-fullheight"
    style=" height: 900px; background-image: url('../../../../assets/img/perrito1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text   justify-content-center" data-scrollax-parent="true">
            <div class="col-md-11 text-center">
                <h1 class="mb-4 " style="margin-top: 160px ;">fundacion Caninos</h1>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br>




<!-- cards de principales y más importantes opciones-->

<section class="ftco-section bg-light ftco-no-pt ftco-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch px-4 ">
                <div class="d-block services active text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><i class="fa-solid fa-coins"></i></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Donaciones</h3>
                        <p> Puedes colaborar con una donación para mejorar la calidad de vida de nuestros peluditos. ¡Tu
                            aporte nos ayuda mucho!</p>
                        <a href="/adoptame" class="btn-custom d-flex align-items-center justify-content-center"><span><i
                                    class="fa-solid fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch px-4 ">
                <div class="d-block services text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><i class="fa-solid fa-paw"></i></span>
                    </div>


                    <div class="media-body">
                        <h3 class="heading">Adóptame</h3>
                        <p>Dales una segunda oportunidad ellos te lo agradecerán. Cambia tu vida, cambia la de ellos.
                        </p>
                        <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span><i
                                    class="fa-solid fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch px-4">
                <div class="d-block services text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><i class="fa-solid fa-heart"></i></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Experiencias</h3>
                        <p>Echa un vistazo a las historias que nos llenan de amor.</p>
                        <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span><i
                                    class="fa-solid fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center">
          <h2>Hsitorias que nos llenan de amor.</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-4 d-flex ">
          <div class="blog-entry align-self-stretch">
            <a href="blog-single.html" class="block-20 rounded" style="background-image: url('https://selecciones-1bf98.kxcdn.com/wp-content/uploads/2018/10/historias-de-perros-adoptados.jpg');">
            </a>
            <div class="text p-4">
                <div class="meta mb-2">
                <div><a href="#">Enero 07, 2022</a></div>
                
                <div><p href="#">Carlos Arturo</p></div>
                <div><a  class="meta-chat"><span class="fa fa-comment"></span> </a></div>
                
              </div>
              <h3 class="heading"><p >Desde que tengo a Tara mi vida ha sido mucho más alegre. </p></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ">
          <div class="blog-entry align-self-stretch">
            <a href="blog-single.html" class="block-20 rounded" style="background-image: url('https://revista.weepec.com/wp-content/uploads/2018/10/homeless-puppy-from-a-shelter-PB2PSAW.jpg');">
            </a>
            <div class="text p-4">
                <div class="meta mb-2">
                <div><a href="#">Febrero 14, 2022</a></div>
                <div><p href="#">Maria</p></div>
                <div><a  class="meta-chat"><span class="fa fa-comment"></span> </a></div>
              </div>
              <h3 class="heading"><p>Cuando vi a Rocky por primera vez supe que era el indicado, fue amor a primera vista.</p></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ">
          <div class="blog-entry align-self-stretch">
            <a href="blog-single.html" class="block-20 rounded" style="background-image: url('https://gestion.portalbiesa.com/redaccio/arxius/imatges/201902/770_1550480986blog_post_consejo_perro_adoptado_1.jpg');">
            </a>
            <div class="text p-4">
                <div class="meta mb-2">
                <div><a href="#">Marzo 17, 2022</a></div>
                <div><p href="#">Andres Fernando</p></div>
                <div><a  class="meta-chat"><span class="fa fa-comment"></span> </a></div>
              </div>
              <h3 class="heading"><p >Es sorprendente como mi perro Lucas cambió mi vida en tan poco tiempo. </p></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2>Galeria.</h2>
            </div>
        </div>
        
        
        
        <div class="row">
           
           
            <div class="col-md-4 ">
                <div class="work mb-4 img d-flex align-items-end"
                    style="background-image: url('../../../../assets/img/perrito1.jpg');">
                    <div class="desc w-100 px-4">
                      </div> 
                     </div> 
                </div>
          

            <div class="col-md-4 ">
                <div class="work mb-4 img d-flex align-items-end"
                    style="background-image: url(../../../../assets/img/perrito2.jpg);">  
                </div>
            </div>
            
            
            <div class="col-md-4 ">
                <div class="work mb-4 img d-flex align-items-end"
                    style="background-image: url(../../../../assets/img/perrito3.jpg);">
                </div>
            </div>



            <div class="col-md-4 ">
                <div class="work mb-4 img d-flex align-items-end"
                    style="background-image: url(../../../../assets/img/perrito1.jpg);">
                </div>
            </div>
            
            
            <div class="col-md-4 ">
                <div class="work mb-4 img d-flex align-items-end"
                    style="background-image: url(../../../../assets/img/perrito2.jpg);">      
                </div>
            </div>


            <div class="col-md-4 ">
                <div class="work mb-4 img d-flex align-items-end"
                    style="background-image: url(../../../../assets/img/perrito3.jpg);">
                   
             
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Inicio finaliza -->
<app-footer></app-footer>
