<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Offcanvas navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>



<div class="wrap">
  <div class="container">
      <div class="row">
          <div class="col-md-6 d-flex align-items-center">
              <p class="mb-0 phone pl-md-2">
                  <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +57 3005580756</a> 
                  <a href="#"><span class="fa fa-paper-plane mr-1"></span> fundacionpatitas@gmail.com</a>
              </p>
          </div>
          <div class="col-md-6 d-flex justify-content-md-end">
              <div class="social-media">
              <p class="mb-0 d-flex">
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
              </p>
      </div>
          </div>
      </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
  <a class="navbar-brand" href="index.html"><span class="flaticon-pawprint-1 mr-2"></span>Patitas</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fa fa-bars"></span> Menu
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a href="index.html" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="about.html" class="nav-link">Adoptame</a></li>
      <li class="nav-item"><a href="vet.html" class="nav-link">Acerca de</a></li>
      <li class="nav-item"><a href="services.html" class="nav-link">Login</a></li>
    <li class="nav-item"><a href="gallery.html" class="nav-link">Galeria</a></li>
    <li class="nav-item"><a href="pricing.html" class="nav-link">Donaciones</a></li>
    <li class="nav-item"><a href="blog.html" class="nav-link">Experiencias</a></li>
    <li class="nav-item"><a href="contact.html" class="nav-link">Contacto</a></li>
  </ul>
</div>
</div>
</nav>


<app-inicio></app-inicio>




<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <h2 class="footer-heading">Patitas</h2>
        <p>Una pequeña fundación tratando de mejorar y alegrar la vida de caninos en busqueda de un hogar.</p>
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <h2 class="footer-heading">Ultimas noticias</h2>
        <div class="block-21 mb-4 d-flex">
          <a class="img mr-4 rounded" style="background-image: url(https://www.eltiempo.com/files/listing_more_read_secondary/uploads/2022/04/19/625e67aa081f3.jpeg);"></a>
          <div class="text">
            <h3 class="heading"><a href="https://www.eltiempo.com/vida/mascotas/adopcion-de-perros-perrita-rescatada-es-rechazada-en-hogares-por-cojear-666009">Selene, la perrita a la que le han cerrado las puertas en nueve hogares</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> viernes, 3 de julio 2022</a></div>
              
            </div>
          </div>
        </div>
        <div class="block-21 mb-4 d-flex">
          <a class="img mr-4 rounded" style="background-image: url(https://www.eltiempo.com/files/listing_more_read_secondary/uploads/2017/07/01/5957f2f0aa0e3.jpeg);"></a>
          <div class="text">
            <h3 class="heading"><a href="https://www.eltiempo.com/vida/mascotas/mascotas-temas-a-considerar-antes-de-adoptar-una-mascota-541889">Todo lo que debe saber a la hora de adoptar mascota</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> Domingo, 5 de julio 2022</a></div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
        <h2 class="footer-heading">De interes</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-2 d-block">inicio</a></li>
          <li><a href="#" class="py-2 d-block">Adoptame</a></li>
          <li><a href="#" class="py-2 d-block">A cerca de</a></li>
          <li><a href="#" class="py-2 d-block">Login</a></li>
          <li><a href="#" class="py-2 d-block">Donaciones</a></li>
          <li><a href="#" class="py-2 d-block">Experiencias</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <h2 class="footer-heading">¿Tienes alguna duda?</h2>
        <div class="block-23 mb-3">
          <ul>
            <li><span class="icon fa fa-map"></span><span class="text">Bogotá, Colombia COL</span></li>
            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+57 3021458778 </span></a></li>
            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">Fundaciopatitas@gmail.com</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">

    
      </div>
    </div>
  </div>
</footer>
