<!-- se da click y ejecuta una pagina con un form para dar una mascota en adopcion -->

<div class="container d-flex justify-content-center">
<h1>Aqui estamos en dar en adopcion</h1>
<br>
<br>
<a routerLink="/registro"><button type="button" class="btn btn-success">Registrarse para dar en Adopcion</button></a>
</div>

<div class="container  d-flex justify-content-center " style="background-color: #EB5353;">
<form>
    
    <br>
    <br>
    <h1>Ingresar la Informacion de la mascota</h1>
    <input type="text" placeholder="nombre">
    <br>
    <input type="text" placeholder="raza">
    <br>
    <input type="text" placeholder="edad">
    <br>
    <input type="text" placeholder="vacunas">
    <br>
    <input type="text" placeholder="enfermedades">
    <br>
    <input type="text" placeholder="informacion importante">
    <br>
    <input type="text" placeholder="motivo por la cual lo va a dar en adopcion">
    <br>
    <button class="btn btn-primary">Enviar Informacion</button>
</form>
</div>