<br>
<br>

<h1>Ingrese todos sus datos para registrarlo</h1>

<br>
<br>

<form>
<input class="form-control " type="text" placeholder="nombre" name="nombre">
<br>
<input class="form-control " type="text" placeholder="cedula" name="cedula">
<br>
<input  class="form-control"type="text" placeholder="dirección" name="direccion">
<br>
<input class="form-control" type="text" placeholder="correo electronico" name="correo">
<br>
<input class="form-control" type="text" placeholder="ocupacion" name="ocupacion">
<br>
<input class="form-control" type="text" placeholder="ingresos promedio" name="ingresos">
<br>
<input class="form-control" type="text" placeholder="edad" name="edad">
<br>
<input class="form-control" type="text" placeholder="nombre de usuario" name="usuario">
<br>
<input  class="form-control" type="password" placeholder="ingrese una contraseña" name="contrasena">
<br>
<input class="form-control"  type="text" placeholder="indiquenos cuales son sus preferencias" name="preferencias">
<br>
<input class="form-control" type="text" placeholder="sexo"name="sexo">
<br>
<input class="form-control"  type="text" placeholder="historial" name="historial">
<br>
<input class="form-control" type="text" placeholder="Agregue una imagen para su perfil" name="imagen_perfil">
<br>
<input class="form-control" type="text" placeholder="Indiquenos cuales son sus pasatiempos" name="pasatiempos">
<br>
<button type="button" class="btn btn-success">Guardar</button>

</form>