<!-- despliega pagina de donaciones cartas o planes  (navbar) tener tambien una carta para direccionar aca en el inicio-->




<h1>Ingrese las donaciones los datos de la donacion que desea realizar, recuerde que debe haberse registrado previamente</h1>

<form>
    <input type="text" placeholder="metodo de pago" name="metodo_pago">
    <br>
    <input type="text" placeholder="valor de la donacion" name="valor">
    <br>
    <input type="text" name="id_usuario" placeholder="usuario">
    <br>
    <input type="text" placeholder="concurrencia" name="concurrencia">
</form>