<div class="cards">
    <div class="usuarios">
        <div class="usuariosinfo">
            <p>Usuarios</p>
            <p>0</p>
        </div>
        <div class="logo">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
    <div class="mascotas">
        <div class="usuariosinfo">
            <p>Usuarios</p>
            <p>0</p>
        </div>
        <div class="logo">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
    <div class="usuarios">
        <div class="usuariosinfo">
            <p>Usuarios</p>
            <p>0</p>
        </div>
        <div class="logo">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
    <div class="mascotas">
        <div class="usuariosinfo">
            <p>Usuarios</p>
            <p>0</p>
        </div>
        <div class="logo">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
</div>