<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Patitas</h2>
                <p>Una pequeña fundación tratando de mejorar y alegrar la vida de caninos en busqueda de un hogar.</p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Twitter"><span class="fa fa-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Facebook"><span class="fa fa-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Instagram"><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Ultimas noticias</h2>
                <div class="block-21 mb-4 d-flex">
                    <a class="img mr-4 rounded"
                        style="background-image: url(https://www.eltiempo.com/files/listing_more_read_secondary/uploads/2022/04/19/625e67aa081f3.jpeg);"></a>
                    <div class="text">
                        <h3 class="heading"><a
                                href="https://www.eltiempo.com/vida/mascotas/adopcion-de-perros-perrita-rescatada-es-rechazada-en-hogares-por-cojear-666009">Selene,
                                la perrita a la que le han cerrado las puertas en nueve hogares</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> viernes, 3 de julio 2022</a></div>

                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a class="img mr-4 rounded"
                        style="background-image: url(https://www.eltiempo.com/files/listing_more_read_secondary/uploads/2017/07/01/5957f2f0aa0e3.jpeg);"></a>
                    <div class="text">
                        <h3 class="heading"><a
                                href="https://www.eltiempo.com/vida/mascotas/mascotas-temas-a-considerar-antes-de-adoptar-una-mascota-541889">Todo
                                lo que debe saber a la hora de adoptar mascota</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> Domingo, 5 de julio 2022</a></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-heading">De interes</h2>
                <ul class="list-unstyled">
                    <li><a href="/pagina/inicioprincipal" class="py-2 d-block">Inicio</a></li>
                    <li><a href="/pagina/adoptame" class="py-2 d-block">Adoptame</a></li>
                    <li><a href="/pagina/daradopcion" class="py-2 d-block">Donaciones</a></li>
                    <li><a href="/pagina/dardonacion" class="py-2 d-block">Login</a></li>
                    <li><a href="/pagina/contacto" class="py-2 d-block">Contacto</a></li>
                    <li><a href="/pagina/opiniones" class="py-2 d-block">Experiencias</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">¿Tienes alguna duda?</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon fa fa-map"></span><span class="text">Bogotá, Colombia COL</span></li>
                        <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+57 3021458778
                                </span></a></li>
                        <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                                    class="text">Fundaciopatitas@gmail.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>
</footer>
