



<div id="tablaUsuarios">
    <ol class="breadcrumb mb-4 w-100">
        <li class="breadcrumb-item active p-3">Usuarios registrados</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tabla Usuarios
        </div>
        <div class="card-body">
            <form style="width: 30%;" class="d-flex mt-3 mb-3" #formulariobuscar="ngForm" (ngSubmit)="buscarusers(formulariobuscar)">
                <input type="text" placeholder="Buscar..." name="busqueda" [(ngModel)]="ServicioService.buscar.busqueda">
                <button class="btn btn-info text-white" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <table class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Celular</th>
                        <th>Direccion</th>
                        <!-- <th>rol</th> -->
                        
                        <!-- <th>Correo</th>
                        <th>Estado</th> -->
                        <th style="width: 11%;">Funcionalidades</th>
                    </tr>
                </thead>
                <tbody class="table bg-dark table-dark">
                    
                    <tr *ngFor="let i of ServicioService.buscarUser">
                        <td>{{i.nombre}}</td>
                        <td>{{i.cedula}}</td>
                        <td>{{i.edad}}</td>
                        <td>{{i.sexo}}</td>
                        <td>{{i.celular}}</td>
                        <td>{{i.direccion}}</td>
                        <!-- <td>{{i.rol}}</td> -->
                        <a class="text-info mr-2" (click)="eliminar(i._id)"><i style="font-size: 30px; text-align: center;" class="fa-solid fa-trash"></i></a>
                        <a class="text-warning" (click)="editarpermisos(i._id)"><i style="font-size: 30px; text-align: center;" class="fa-regular fa-pen-to-square"></i></a>
                        <!-- <button class="btneditar">Editar</button> -->
                    </tr>
                </tbody>
            </table>
            <div class="paginador">
                <p class="btnpaginador" (click)="prevp()"><</p>
                <p class="btnpaginador" (click)="paginador(0)">1</p>
                <p class="btnpaginador" (click)="paginador(5)">2</p>
                <p class="btnpaginador" (click)="paginador(10)">3</p>
                <p class="btnpaginador" (click)="paginador(15)">4</p>
                <p class="btnpaginador" >...</p>
                <p class="btnpaginador" (click)="nextp()">></p>
            </div>
        
        <form #formularioeditarol="ngForm" (ngSubmit)="colocarinformacion(formularioeditarol)">
            <input type="hidden" name="_id" [(ngModel)]="ServicioService.users._id">
            <label for="rol" class="w-100">Editar permiso</label>
            <select name="rol" class="custom-select w-25" [(ngModel)]="ServicioService.users.rol">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <button class="btn btn-info text-white">Enviar</button>
        </form>
    </div>
    </div>
</div>