<!-- dashbord para manejar el admin los usuarios registrados -->
<!-- <button (click)="cargarUsuarios()">info</button> -->



<br><br>

<div id="tablaUsuarios" class="table table-responsive table-bordered">
    <p class="h1">Usuarios registrados</p>
    <table  class="table table-dark table-striped">
        <tr  class="table-primary">
            <th>Nombre</th>
            <th>correo</th>
            <th>dasd</th>
            <th>dd</th>
            <th>dd</th>
            <th>id</th>
            <th>Funcionalidades</th>
        </tr>
        <tr *ngFor="let i of ServicioService.user">
            <td>{{i.correo}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.correo}}</td>
            <td>{{i._id}}</td>
            <button class="btneliminar">Eliminar</button>
            <button class="btneditar">Editar</button>
        </tr>
    </table>
    <div class="paginador">
        <p class="btnpaginador" (click)="prevp()"><</p>
        <p class="btnpaginador" (click)="paginador(0)">1</p>
        <p class="btnpaginador" (click)="paginador(5)">2</p>
        <p class="btnpaginador" (click)="paginador(10)">3</p>
        <p class="btnpaginador" (click)="paginador(15)">4</p>
        <p class="btnpaginador" >...</p>
        <p class="btnpaginador" (click)="nextp()">></p>
    </div>
</div>
