

    <div class="wrap">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    
<!-- END nav -->


<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-5 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(https://media.istockphoto.com/photos/studio-shot-of-an-adorable-mixed-breed-dog-picture-id1187403241?k=20&m=1187403241&s=612x612&w=0&h=wHVNmXCDOvRTYKmD2syNnP1AVIB9YVaSpcPgkg03Y8U=);">
                </div>
            </div>
            <div class="col-md-7 pl-md-5 py-md-5">
                <div class="heading-section pt-md-5">
            <h1 class="mb-4" class="centrar">Nuestra Misión</h1>
            <br>
            <br>
                </div>
                <div class="row">
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-solid fa-paw"></i></div>
                    
                        <div class="text pl-3">
                            <h2>Lo que hacemos</h2>
                            <p>Los animales que llegan a la fundación reciben atención veterinaria completa,
                               incluyendo esterilización, vacunación, desparacitación y cualquier tratamiento
                               necesario para garantizar su bienestar hasta que logremos encontrarles un hogar
                               que los cuide de por vida..</p>
                               
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-solid fa-paw"></i></div>
                        <div class="text pl-3">
                            <h2>Lo que queremos</h2>
                            <p>Promover la sensibilización colectiva fomentando la esterilización, el respeto 
                                a la vida, el NO al maltrato animal y la adopción responsable y soñamos con 
                                convertirnos en una organización líder en la protección y preservación de los
                                animales que son víctimas del maltrato y la indiferencia.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart"></i></div>
                        <div class="text pl-3">
                            <h2>Ayúdanos</h2>
                            <p>Si no puedes adoptar, puedes apadrinar alguno de nuestros peludos para que su estadía
                                en nuestro refugio sea optima. Manejamos diferentes planes de padrinos en los que 
                                puedes hacer un aporte mensual. Si estás interesado en apadrinar un Tepiano contáctanos
                                y te daremos más detalles.</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>
<app-footer></app-footer>
