<!-- login de la aplicacion

<body>


<br><br><br><br>
<div class="container bg-secondary d-flex justify-content-center">
<h1 >Ingrese su correo y contraseña</h1>
</div>


  <div class="container bg-primary d-flex justify-content-center">
      <form class=""#formularioLogin="ngForm" (ngSubmit)="enviardatos(formularioLogin)">
        <input class="form-comtrol" type="email" name="correo" placeholder="Digite su correo"
          [(ngModel)]="servicioComponent.users.correo">
          <br>
          <br>
        <input class="form-comtrol" type="password" name="password" placeholder="Digite su contraseña"
          [(ngModel)]="servicioComponent.users.password">
          <br>  
          <br>
        <a routerLink="/administrador">  <button class="btn btn-success d-flex justify-content-center" type="submit">Ingresar</button></a>
      </form>
  </div> -->


<br>
<br>
  
  <body class="text-center">
  
    <main class="form-signin w-100 m-auto d-flex justify-content-center">
      <form action="/formulario" method="post">
        <img class="mb-4" src="https://tse1.mm.bing.net/th?id=OIP.XklayVAfQqM2N86Xfl07QwHaHa&pid=Api&P=0&w=160&h=160" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Página de Login</h1>
       
        <div class="form-floating">
          <input type="email" class="form-control " id="floatingInput"  name="correo" value=" " [(ngModel)]="servicioComponent.users.correo">
          <label for="floatingInput" >Email</label>
        </div>
        <div class="form-floating">
          <input type="password " class="form-control " id="floatingPassword" name="password" [(ngModel)]="servicioComponent.users.password">
          <label for="floatingPassword">Contraseña</label>
        </div>
  
         <button class="mt-3  btn btn-lg" style="background-color: #42E6A4;" type="submit"> <a routerLink="/administrador">Ingresar </a></button>
          <br>
          <br>
         <a routerLink="">Registrarse</a>
         <p class="mt-5 mb-3 text-white">&copy; Fundacion Caninos</p>
      </form>
    </main>
  </body>


