<!-- Manejado por el admin para administrar la aplicacion -->


<!-- <div class="dashbord">  -->
    <!-- <h1>Bienvenido admin</h1> -->
    <!-- <div id="main">
        <div id="aside">
            <div class="titulodash">
                <img class="img"
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f58b8e49-fa71-4a3f-9b51-4d7934c2c06d/d5s2y2n-a29f37cf-c013-4fc5-b536-5372d87136bf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y1OGI4ZTQ5LWZhNzEtNGEzZi05YjUxLTRkNzkzNGMyYzA2ZFwvZDVzMnkybi1hMjlmMzdjZi1jMDEzLTRmYzUtYjUzNi01MzcyZDg3MTM2YmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.NL4UAiHwsUZzZw8qd3GVUBHlUL-cS-OzRlXMUpb-Emg">
                <p class="tidas">Caninos</p>
            </div>
            <ul class="nav">
                <li><a routerLink="/admin/">Dashbord</a></li>
                <li><a routerLink="/admin/usuarios">Usuarios</a></li>
                <li><a routerLink="/admin/agregarmascota">Agregar mascota</a></li>
                <li><a routerLink="/admin/mascotas">Mascotas</a></li>
                <li><a routerLink="/admin/solicitudesusers">Revisar solicitudes</a></li>
                <li><a routerLink="/admin/balance">Balance</a></li>
                <li><a (click)="cerrar()">Salir</a></li>
            </ul>
        </div>
    </div>
</div> -->






    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> -->
        <!-- Navbar Search-->
        <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form> -->
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a> -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light bg-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav" >
                        <div class="sb-sidenav-menu-heading">Dashbord</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            <li><a style="text-decoration:none; color:white" routerLink="/admin">Dashboard</a></li>
                        </a>
                        <div class="sb-sidenav-menu-heading">Conteo</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            <li><a style="text-decoration:none; color:white" routerLink="/admin/balance">Balance</a></li>
                        </a>
                        <div class="sb-sidenav-menu-heading">Mascotas</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            <li><a style="text-decoration:none; color:white" routerLink="/admin/agregarmascota">Agregar mascota</a></li>
                        </a>
                        
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            <li><a style="text-decoration:none; color:white" routerLink="/admin/mascotas">Mascotas</a></li>
                        </a>
                        <div class="sb-sidenav-menu-heading">Usuarios</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            <li><a style="text-decoration:none; color:white" routerLink="/admin/usuarios">Usuarios</a></li>
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            <li><a style="text-decoration:none; color:white" routerLink="/admin/solicitudesusers">Revisar solicitudes</a></li>
                        </a>
                        <div class="sb-sidenav-menu-heading">Acciones</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            <li><a style="text-decoration:none; color:white" (click)="cerrar()">Salir</a></li>
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
<router-outlet></router-outlet>