<!-- Manejado por el admin para administrar la aplicacion -->



<div id="main" >
    <div id="aside" class="bg-dark">
        <div class="titulodash ">
            <span><i class="fa-solid fa-paw fa-3x " ></i></span>
            <p class="tidas">Caninos</p>
        </div>
        <ul class="nav bg-dark">
            <li><a routerLink="/admin/">Dashbord</a></li>
            <li><a routerLink="/admin/usuarios">Usuarios</a></li>
            <li><a routerLink="/admin/agregarmascota">Agregar mascota</a></li>
            <li><a routerLink="/admin/mascotas">Mascotas</a></li>
            <li><a routerLink="/admin/solicitudesusers">Revisar solicitudes</a></li>
            <li><a (click)="cerrar()">Salir</a></li>
        </ul>
    </div>
        
    <div class="dashbord ">
        <h1>Bienvenido admin</h1>
    </div>
</div>

<router-outlet></router-outlet>


